.header-blue {
    background-color: #0066cc;
    color: white;
}

.progress-active-blue {
    background-color: #5c6f82;
    color: white;
}

.progress-inactive-blue {
    color: #5c6f82;
    background-color: white;
    border: 1px solid #5c6f82;
}

ul {
    list-style: none;
}

@media print {
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }
  }